<div class="container mt-5">
    <div class="row">
        <div class="d-flex all">
            <p>All Questions</p>
            <button class="btn btn-info" routerLink="/front/visitor/askquestion">Ask Questions</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col col-md-3">1245472   </div>
        <div class="col col-md-7">filter options</div>
        <div class="col-2">filter</div>
    </div>
    <div class="container d-flex mt-3 question_container" >
        <div>
            <ul><li>vote</li>
            <li>answer</li>
        <li>view</li></ul>
        
        </div>
            <div class="mx-5">
                <a href="">Qestion title fdghjkl;pokijhugfvbhjkloiuygfvhbnjkoiuytgfvbhjnkoiuygfc</a><br>
                <span class="badge text-bg-info">Tags</span>
                <div class="d-flex" id="userInfo"> <p class="me-2">username</p><p class="me-2">askquestion </p> <p>time</p></div>
            </div>
    </div>

</div>
