<ngx-ui-loader
text="Please Wait..."
></ngx-ui-loader>
<aside class="sidebar">
            
    
    <nav class="menu">
        <a routerLink="/home" class="menu-item ">Home</a>
        <a routerLink="/front/visitor/question" class="menu-item">Question</a>
        <a routerLink="/front/visitor/tag" class="menu-item">Tag</a>
        <a routerLink="" class="menu-item ">User</a>
        <hr>
        <a  class="menu-item" style="margin-top: 100%;" (click)="logout()">LOG OUT</a>
        <hr>
    </nav>

</aside>